@font-face {
	font-family: Mobiv2-rollup;
	src: url(Mobiv2-rollup.eot);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Mobiv2-rollup;
	src: url(Mobiv2-rollup.eot?#iefix) format("embedded-opentype"), url(Mobiv2-rollup.woff) format("woff"), url(Mobiv2-rollup.ttf) format("truetype"), url(Mobiv2-rollup.svg?#Mobiv2-rollup) format("svg");
	font-weight: 400;
	font-style: normal;
}
.StencilRoot .Icon {
	font-family: Mobiv2-rollup;
}
.IconAD {
	
}
.IconAD::before {
	content: "\2603";
}
.IconAdd {
	
}
.IconAdd::before {
	content: "\2295";
}
.IconAdded {
	
}
.IconAdded::before {
	content: "\2714";
}
.IconAirQualityBad {
	
}
.IconAirQualityBad::before {
	content: "\25cd";
}
.IconAirQualityGood {
	
}
.IconAirQualityGood::before {
	content: "\25ce";
}
.IconAirQualityNice {
	
}
.IconAirQualityNice::before {
	content: "\25cb";
}
.IconAirQualityToxic {
	
}
.IconAirQualityToxic::before {
	content: "\25cf";
}
.IconAirQualityWorse {
	
}
.IconAirQualityWorse::before {
	content: "\25c9";
}
.IconAppDownload {
	
}
.IconAppDownload::before {
	content: "\2b73";
}
.IconAquarius {
	
}
.IconAquarius::before {
	content: "\2652";
}
.IconAries {
	
}
.IconAries::before {
	content: "\2648";
}
.IconArrowDown {
	
}
.IconArrowDown::before {
	content: "\2101";
}
.IconArrowUp {
	
}
.IconArrowUp::before {
	content: "\2102";
}
.IconAuction {
	
}
.IconAuction::before {
	content: "\62cd";
}
.IconAuctionHK {
	
}
.IconAuctionHK::before {
	content: "\2692";
}
.IconAvatar {
	
}
.IconAvatar::before {
	content: "\2604";
}
.IconCancer {
	
}
.IconCancer::before {
	content: "\264b";
}
.IconCapricorn {
	
}
.IconCapricorn::before {
	content: "\2651";
}
.IconCaretDown {
	
}
.IconCaretDown::before {
	content: "\2605";
}
.IconCaretLeft {
	
}
.IconCaretLeft::before {
	content: "\2606";
}
.IconCaretRight {
	
}
.IconCaretRight::before {
	content: "\2607";
}
.IconCaretUp {
	
}
.IconCaretUp::before {
	content: "\2608";
}
.IconCart {
	
}
.IconCart::before {
	content: "\1b96";
}
.IconClose {
	
}
.IconClose::before {
	content: "\2609";
}
.IconComments {
	
}
.IconComments::before {
	content: "\2749";
}
.IconDeal {
	
}
.IconDeal::before {
	content: "\6436";
}
.IconDictionary {
	
}
.IconDictionary::before {
	content: "\2398";
}
.IconDiscountTag {
	
}
.IconDiscountTag::before {
	content: "\2450";
}
.IconDoubleArrow {
	
}
.IconDoubleArrow::before {
	content: "\2369";
}
.IconDown {
	
}
.IconDown::before {
	content: "\25bc";
}
.IconEC {
	
}
.IconEC::before {
	content: "\24";
}
.IconFavorite {
	
}
.IconFavorite::before {
	content: "\2610";
}
.IconFavoriteEmpty {
	
}
.IconFavoriteEmpty::before {
	content: "\2611";
}
.IconFavoriteHalf {
	
}
.IconFavoriteHalf::before {
	content: "\2726";
}
.IconFontSize {
	
}
.IconFontSize::before {
	content: "\2003";
}
.IconFujiAir {
	
}
.IconFujiAir::before {
	content: "\2004";
}
.IconFujiFuel {
	
}
.IconFujiFuel::before {
	content: "\2005";
}
.IconFujiHeart {
	
}
.IconFujiHeart::before {
	content: "\2141";
}
.IconFujiHeartOutline {
	
}
.IconFujiHeartOutline::before {
	content: "\2142";
}
.IconFujiInvoice {
	
}
.IconFujiInvoice::before {
	content: "\25af";
}
.IconFujiLottery {
	
}
.IconFujiLottery::before {
	content: "\25bf";
}
.IconFujiMoney {
	
}
.IconFujiMoney::before {
	content: "\2143";
}
.IconFujiPollution {
	
}
.IconFujiPollution::before {
	content: "\2230";
}
.IconFujiRain {
	
}
.IconFujiRain::before {
	content: "\2006";
}
.IconFujiSettings {
	
}
.IconFujiSettings::before {
	content: "\2007";
}
.IconFujiShare {
	
}
.IconFujiShare::before {
	content: "\2008";
}
.IconFujiStar {
	
}
.IconFujiStar::before {
	content: "\2009";
}
.IconFujiStarOutline {
	
}
.IconFujiStarOutline::before {
	content: "\2010";
}
.IconFujiStock {
	
}
.IconFujiStock::before {
	content: "\2011";
}
.IconFujiWater {
	
}
.IconFujiWater::before {
	content: "\2012";
}
.IconFujiWeather {
	
}
.IconFujiWeather::before {
	content: "\2013";
}
.IconGallery {
	
}
.IconGallery::before {
	content: "\2612";
}
.IconGemini {
	
}
.IconGemini::before {
	content: "\264a";
}
.IconInfo {
	
}
.IconInfo::before {
	content: "\26ff";
}
.IconLeftTop {
	
}
.IconLeftTop::before {
	content: "\2613";
}
.IconLeo {
	
}
.IconLeo::before {
	content: "\264c";
}
.IconLibra {
	
}
.IconLibra::before {
	content: "\264e";
}
.IconMail {
	
}
.IconMail::before {
	content: "\2616";
}
.IconMapMarker {
	
}
.IconMapMarker::before {
	content: "\2690";
}
.IconMarkSix {
	
}
.IconMarkSix::before {
	content: "\36";
}
.IconMovie {
	
}
.IconMovie::before {
	content: "\2730";
}
.IconNavigation {
	
}
.IconNavigation::before {
	content: "\2614";
}
.IconNext {
	
}
.IconNext::before {
	content: "\2615";
}
.IconNote {
	
}
.IconNote::before {
	content: "\270d";
}
.IconOutLink {
	
}
.IconOutLink::before {
	content: "\27b2";
}
.IconPhone {
	
}
.IconPhone::before {
	content: "\260e";
}
.IconPhotosGallery {
	
}
.IconPhotosGallery::before {
	content: "\25f1";
}
.IconPisces {
	
}
.IconPisces::before {
	content: "\2653";
}
.IconPlay {
	
}
.IconPlay::before {
	content: "\2617";
}
.IconPrevious {
	
}
.IconPrevious::before {
	content: "\2618";
}
.IconRain0 {
	
}
.IconRain0::before {
	content: "\2014";
}
.IconRain10 {
	
}
.IconRain10::before {
	content: "\2015";
}
.IconRain100 {
	
}
.IconRain100::before {
	content: "\2020";
}
.IconRain20 {
	
}
.IconRain20::before {
	content: "\2016";
}
.IconRain30 {
	
}
.IconRain30::before {
	content: "\2017";
}
.IconRain40 {
	
}
.IconRain40::before {
	content: "\2018";
}
.IconRain70 {
	
}
.IconRain70::before {
	content: "\2019";
}
.IconRefresh {
	
}
.IconRefresh::before {
	content: "\21ba";
}
.IconSagittarius {
	
}
.IconSagittarius::before {
	content: "\2650";
}
.IconScorpio {
	
}
.IconScorpio::before {
	content: "\264f";
}
.IconSearch {
	
}
.IconSearch::before {
	content: "\2619";
}
.IconSettings {
	
}
.IconSettings::before {
	content: "\2699";
}
.IconShare {
	
}
.IconShare::before {
	content: "\2620";
}
.IconShareFacebook {
	
}
.IconShareFacebook::before {
	content: "\2621";
}
.IconShareLine {
	
}
.IconShareLine::before {
	content: "\2622";
}
.IconShareLink {
	
}
.IconShareLink::before {
	content: "\2623";
}
.IconShareMail {
	
}
.IconShareMail::before {
	content: "\2b13";
}
.IconShareTumblr {
	
}
.IconShareTumblr::before {
	content: "\74";
}
.IconShareWhatsapp {
	
}
.IconShareWhatsapp::before {
	content: "\57";
}
.IconShopping {
	
}
.IconShopping::before {
	content: "\2624";
}
.IconSocial {
	
}
.IconSocial::before {
	content: "\263a";
}
.IconSound {
	
}
.IconSound::before {
	content: "\2fb3";
}
.IconStock {
	
}
.IconStock::before {
	content: "\80a1";
}
.IconStore {
	
}
.IconStore::before {
	content: "\8d85";
}
.IconTaurus {
	
}
.IconTaurus::before {
	content: "\2649";
}
.IconUp {
	
}
.IconUp::before {
	content: "\25b2";
}
.IconVirgo {
	
}
.IconVirgo::before {
	content: "\264d";
}
.IconWeather {
	
}
.IconWeather::before {
	content: "\2600";
}
.IconWeather1 {
	
}
.IconWeather1::before {
	content: "\2021";
}
.IconWeather10-n {
	
}
.IconWeather10-n::before {
	content: "\2133";
}
.IconWeather10 {
	
}
.IconWeather10::before {
	content: "\2132";
}
.IconWeather11-n {
	
}
.IconWeather11-n::before {
	content: "\2135";
}
.IconWeather11 {
	
}
.IconWeather11::before {
	content: "\2134";
}
.IconWeather12 {
	
}
.IconWeather12::before {
	content: "\2136";
}
.IconWeather13-n {
	
}
.IconWeather13-n::before {
	content: "\2038";
}
.IconWeather13 {
	
}
.IconWeather13::before {
	content: "\2137";
}
.IconWeather14-n {
	
}
.IconWeather14-n::before {
	content: "\2040";
}
.IconWeather14 {
	
}
.IconWeather14::before {
	content: "\2139";
}
.IconWeather15 {
	
}
.IconWeather15::before {
	content: "\2041";
}
.IconWeather2 {
	
}
.IconWeather2::before {
	content: "\2022";
}
.IconWeather3-n {
	
}
.IconWeather3-n::before {
	content: "\2024";
}
.IconWeather3 {
	
}
.IconWeather3::before {
	content: "\2023";
}
.IconWeather4 {
	
}
.IconWeather4::before {
	content: "\2025";
}
.IconWeather5-n {
	
}
.IconWeather5-n::before {
	content: "\2027";
}
.IconWeather5 {
	
}
.IconWeather5::before {
	content: "\2026";
}
.IconWeather6 {
	
}
.IconWeather6::before {
	content: "\2028";
}
.IconWeather7 {
	
}
.IconWeather7::before {
	content: "\2029";
}
.IconWeather8 {
	
}
.IconWeather8::before {
	content: "\2130";
}
.IconWeather9 {
	
}
.IconWeather9::before {
	content: "\2031";
}
